
<div class='row'>
    <form role="form">
        <div class='col-md-4 col-md-offset-4'>
            <p>
                Got an idea for a drawing challenge? Submit one here.
            </p>
            <div class="form-group">
                <label >Suggest an idea:</label>
                <input type="text"  class="form-control" ng-model="suggestion"/>

            </div>
            <button ng-click="suggest();" class="btn btn-large btn-default btn-block">Suggest</button>

        </div>
    </form>
</div>